h1 {
    font-family: sans-serif;
}
h2 {
    text-align: center;
    color: rgba(255, 72, 0, 0.692);
    font-family: sans-serif;
}
p{
    font-family: sans-serif;
    padding:10px;
}
.test{
    padding-top: 13%;
    padding-left: 5%;
    color:rgba(255, 255, 255, 0.74);
}
.bt1{
    position: absolute;
    bottom: 5%;
    text-align:center;
    background:none;
    border:none;
    margin:0;
    color:rgba(255, 255, 255, 0.74);
}
body {
    background-image: url("solar3.png");
    background-size: cover;
 }